# Project exclude paths
/target/
/.idea/
/.mvn/
/~$nalTask_eCare.docx
/.idea/
/src/main/resources/static/fonts/font-awesome.min.css
/src/main/resources/static/fonts/FontAwesome.otf
/src/main/resources/static/fonts/fontawesome-webfont.eot
/src/main/resources/static/fonts/fontawesome-webfont.svg
/src/main/resources/static/fonts/fontawesome-webfont.ttf
/src/main/resources/static/fonts/fontawesome-webfont.woff
/src/main/resources/static/fonts/fontawesome-webfont.woff2
/src/main/resources/old/static/img/avatars/avatar2.jpg
/src/main/resources/static/img/avatars/avatar1.jpg
/src/main/resources/old/static/img/avatars/avatar3.jpg
/src/main/resources/static/img/avatars/avatar3.jpg
/src/main/resources/static/img/avatars/avatar2.jpg
/src/main/resources/old/static/css/bootstrap.min.css
/src/main/resources/static/bootstrap/css/bootstrap.min.css
/src/main/resources/old/static/img/avatars/avatar1.jpg
/src/main/resources/old/static/img/tech/123.png
/src/main/resources/static/bootstrap/js/bootstrap.min.js
/src/main/resources/static/css/Light-Contact-List.css
/src/main/resources/static/css/Ludens-Users---3-Profile.css
/src/main/resources/static/css/Ludens-Users---4-Edit-Profile.css
/src/main/resources/static/css/Manage-Users.css
/src/main/resources/static/fonts/Simple-Line-Icons.eot
/src/main/resources/static/fonts/simple-line-icons.min.css
/src/main/resources/static/fonts/Simple-Line-Icons.svg
/src/main/resources/static/fonts/Simple-Line-Icons.ttf
/src/main/resources/static/fonts/Simple-Line-Icons.woff
/src/main/resources/static/fonts/Simple-Line-Icons.woff2
