.register-photo {
  background: #f1f7fc;
  padding: 80px 0;
}

.register-photo .image-holder {
  display: table-cell;
  width: auto;
  background: url(../img/tech/123.png);
  background-size: cover;
}

.register-photo .form-container {
  display: table;
  max-width: 900px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.register-photo form {
  display: table-cell;
  width: 400px;
  background-color: #ffffff;
  padding: 40px 60px;
  color: #505e6c;
}

@media (max-width:991px) {
  .register-photo form {
    padding: 40px;
  }
}

.register-photo form h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.register-photo form .form-check {
  font-size: 13px;
  line-height: 20px;
}

.register-photo form .btn-primary {
  background: #56c6c6;
  border: none;
  border-radius: 20px;
  padding: 11px;
  box-shadow: none;
  text-shadow: none;
  outline: none !important;
}

.register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
  background: #69dcdc;
}

.register-photo form .btn-primary:active {
  transform: translateY(1px);
}

.register-photo form .already {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #66d7d7;
  outline: 0;
  box-shadow: 0 0 0 2px #66d7d7;
}

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #252f40;
  text-align: center;
  white-space: nowrap;
  background-color: #fff;
  border: 1px solid #d2d6da;
  border-radius: 0.5rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
}

.form-control {
  display: block;
  width: 75;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4rem;
  color: #495057;
  background-color: #fff;
  border: 1px solid #d2d6da;
  appearance: none;
  border-radius: 0.5rem;
  transition: box-shadow 0.15s ease, border-color 0.15s ease;
}

.btn-check:checked + .btn-danger, .btn-check:active + .btn-danger, .btn-danger:active, .btn-danger.active, .show > .btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #b02a37;
  border-color: #a52834;
}

.btn-check:focus + .btn-success, .btn-success:focus {
  color: #fff;
  background-color: #56c6c6;
  border-color: ##56c6c6;
  box-shadow: 0 0 0 .25rem rgba(60,153,110,.5);
}

.btn-success {
  color: #fff;
  background-color: #56c6c6;
  border-color: #198754;
  border-radius: 15pt;
}

.btn-danger {
  color: #fff;
  background-color: #f16e7a;
  border-color: #dc3545;
  border-radius: 15pt;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-right: 11px;
  padding-left: 11px;
}

.btn-warning {
  color: #000;
  background-color: #f16e7a;
  border-color: #dc3545;
  border-radius: 200px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-check:focus + .btn-warning, .btn-warning:focus {
  color: #000;
  background-color: #f16e7a;
  border-color: #f16e7a;
}

.btn-warning:hover {
  color: #000;
  background-color: #dc3545;
  border-color: #f16e7a;
}

