<!DOCTYPE html>
<html xmlns="http://java.sun.com/jsf/html">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Javaschool</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/static/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/static/css/Soft-ui-Navbar.css">
    <link rel="stylesheet" href="/static/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="/static/css/Light-Contact-List.css">
    <link rel="stylesheet" href="/static/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="/static/css/Ludens-Users---4-Edit-Profile.css">
    <link rel="stylesheet" href="/static/css/Manage-Users.css">
</head>

<body>

<div th:replace="/fragments/navbar :: navbar">
</div>
<main class="page landing-page">
    <section class="register-photo">
        <div class="form-container">
            <form method="post" th:object="${editClientDto}" th:action="@{/clientedit}"><h2 class="text-center">User's
                account</h2>
                <input type="hidden" name="id" th:value="${currentClient.getId()}"/>
                <input type="hidden" name="birthdate" th:value="${currentClient.getBirthdate()}"/>
                <div class="container">
                    <div class="row">
                        <div class="col"><small>New first name</small></div>
                        <div class="col"><small>New last name</small></div>
                    </div>
                    <div class="row">
                        <div class="col"><input class="form-control" type="text" name="firstname"
                                                placeholder="New first name" th:value="${currentClient.getFirstname()}">
                        </div>
                        <div class="col"><input class="form-control" type="text" name="lastname"
                                                placeholder="New last name" th:value="${currentClient.getLastname()}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><small>New email adress</small></div>
                        <div class="col"><small>Confirm email</small></div>
                    </div>
                    <div class="row">
                        <div class="col"><input class="form-control" type="email" name="email" placeholder="Email"
                                                th:value="${currentClient.getEmail()}"></div>
                        <div class="col"><input class="form-control" type="email" name="emailConfirm"
                                                placeholder="Confirm Email" th:value="${currentClient.getEmail()}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><small>New passport data</small></div>
                    </div>
                    <div class="row">
                        <div class="col"><input class="form-control" type="text" name="passport"
                                                placeholder="Passport number in format: 1234 123456"
                                                pattern="[0-9]{4} [0-9]{6}" th:value="${currentClient.getPassport()}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><small>Home adress</small></div>
                    </div>
                    <div class="row">
                        <div class="col"><input class="form-control" type="text" name="address"
                                                placeholder="Saint-Petersburg, Nevskaya st., 4"
                                                th:value="${currentClient.getAddress()}">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"><small>New password</small></div>
                    </div>
                    <div class="row">
                        <div class="col"><input class="form-control" type="text" name="password"
                                                placeholder="password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="mb-3"></div>
                        </div>
                    </div>
                </div>

                <div sec:authorize="${hasAuthority('ADMIN')}">

                    <div class="row">
                        <div class="col"><small>New Roles</small></div>
                    </div>
                    <select multiple class="form-control" id="exampleFormControlSelect2" type="text"
                    name="rolesStr">
                        <option value="ROLE_ADMIN">ADMIN</option>
                        <option value="ROLE_USER">USER</option>
                    </select>
                </div>


                <div class="mb-3"></div>
                <div class="mb-3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 align-self-center"><a
                                    class="btn btn-danger d-block w-100" href="/profile">Discard</a></div>
                            <div class="col-md-6 align-self-center">
                                <button class="btn btn-primary d-block w-100"
                                        type="submit">Apply
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <footer class="footer-basic">
        <div class="social"><a href="http://instagram.com/firstofthekind"><img
                src="assets/img/small-logos/instagram.png" width="40" style="margin: 0px 12px 0px 0px;"
                href="instagram.com/firstofthekind"></a><a href="http://vk.com/firstofthekind"><img
                src="assets/img/small-logos/vk-social-logotype.png" width="40" style="margin: 0px 12px 0px 0px;"
                href="vk.com/firstofthekind" link="vk.com/firstofthekind"></a><a
                href="http://github.com/firstofthekind"><img src="assets/img/small-logos/github.png" width="40"
                                                             style="margin: 0px 12px 0px 0px;"
                                                             href="github.com/firstofthekind"></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Viacheslav Liashenko © 2021</p></footer>
</main>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/vanilla-zoom.js"></script>
<script src="assets/js/theme.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>