<!DOCTYPE html>
<html xmlns="http://java.sun.com/jsf/html">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Javaschool</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/static/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/static/css/Soft-ui-Navbar.css">
    <link rel="stylesheet" href="/static/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="/static/css/Light-Contact-List.css">
    <link rel="stylesheet" href="/static/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="/static/css/Ludens-Users---4-Edit-Profile.css">
    <link rel="stylesheet" href="/static/css/Manage-Users.css">
</head>

<body>

<div th:replace="/fragments/navbar :: navbar">
</div>
<main class="page landing-page">
    <section class="register-photo">
        <div class="form-container">
            <div th:if="!${contract.isBlockedByAdmin()}">
                <div class="clean-pricing-item">

                        <div class="heading">
                            <form th:action="@{/editcontract/n}"
                                  th:object="${contractDto}" style="padding: 0; width: 100%; float: right ">
                            <h3>
                                <a class="text-center" sec:authorize="${hasAuthority('USER')}"
                                   th:text="'Contract No '+${contract.getNumber()}">
                                    Contract № </a>
                                <a class="text-center" sec:authorize="${hasAuthority('ADMIN')}">Contract No
                                </a>

                                <input type="hidden" name="id" th:value="${contract.getId()}"/>
                            <input class="text-center" name="number" type="text"
                                   sec:authorize="${hasAuthority('ADMIN')}"
                                   th:value="${contract.getNumber()}">
                            <button sec:authorize="${hasAuthority('ADMIN')}" class="btn btn-primary d-block "
                                    style="float: right; border-radius: 30px"

                                    type="submit">Change number
                            </button>
                            </h3>
                            </form>
                            <div class="text-warning" style="text-align: center"
                                 th:if="${contract.isBlockedByClient()}">blocked by client
                            </div>
                        </div>
                    <div class="features"></div>
                    <h4 style="margin-top: 40px"><span class="feature">Tariff:&nbsp;</span><span
                            th:text="${contract.tariff.title}">No</span>
                        <a class="btn btn btn-primary d-block " th:href="@{/tariffs/c/{id} (id=${contract.getId()})}"
                           style="float: right; border-radius: 30px">Change tariff</a></h4>
                    <h4 style="margin-top: 40px"><span class="feature">Price (USD per month):&nbsp;</span>
                        <span style="float: right"
                              th:text="${contract.getPrice()}">No</span></h4>
                    <h4 style="margin-top: 40px"><span class="feature">Connection cost (USD):&nbsp;</span><span
                            th:text="${contract.getConnectionCost()}" style="float: right">30 Days</span></h4>
                    <h4 style="margin-top: 40px"
                        class="feature">Supplements:&nbsp;
                        <a class="btn btn btn-primary d-block "
                           th:href="@{/supplements}"
                           style="float: right; border-radius: 30px">Edit supplements</a>
                        <h6 th:each="sup : ${contract.getSupplement()}"><a
                                class="font-monospace text-black-50 feature"
                                th:text="${sup.getTitle()}">Supplements:&nbsp;</a>
                        </h6></h4>
                    <button type="submit" class="btn btn-primary d-block " style="width: 100%; border-radius: 30px">save
                        changes
                    </button>
                </div>

            </div>
            <div th:if="${contract.isBlockedByAdmin()}" class="clean-pricing-item">
                <h3 class="text-center">Contract was blocked by admin</h3>
                <a class="btn btn-primary d-block" href="/main" style="margin-top: 10px">main page</a>
                <a class="btn btn-primary d-block" href="/admin" style="margin-top: 10px"
                   sec:authorize="${hasAuthority('ADMIN')}">admin panel</a>
                <a class="btn btn-primary d-block" style="margin-top: 10px"
                   th:href="@{/contractlist/{id}/undel (id=${contract.getId()})}"
                   sec:authorize="${hasAuthority('ADMIN')}">restore</a>
            </div>
        </div>

        </div>


        </div>
    </section>
    <footer class="footer-basic">
        <div class="social"><a href="http://instagram.com/firstofthekind"><img
                src="/static/img/small-logos/instagram.png" width="40" style="margin: 0px 12px 0px 0px;"
                href="instagram.com/firstofthekind"></a><a href="http://vk.com/firstofthekind"><img
                src="/static/img/small-logos/vk-social-logotype.png" width="40" style="margin: 0px 12px 0px 0px;"
                href="vk.com/firstofthekind" link="vk.com/firstofthekind"></a><a
                href="http://github.com/firstofthekind"><img src="/static/img/small-logos/github.png" width="40"
                                                             style="margin: 0px 12px 0px 0px;"
                                                             href="github.com/firstofthekind"></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Viacheslav Liashenko © 2021</p></footer>
</main>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/static/js/vanilla-zoom.js"></script>
<script src="/static/js/theme.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>