<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Javaschool</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/static/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/static/css/Soft-ui-Navbar.css">
    <link rel="stylesheet" href="/static/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="/static/css/Light-Contact-List.css">
    <link rel="stylesheet" href="/static/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="/static/css/Ludens-Users---4-Edit-Profile.css">
    <link rel="stylesheet" href="/static/css/Manage-Users.css">
</head>

<body>

<div th:replace="/fragments/navbar :: navbar">
</div>
<main class="page landing-page">
    <section class="register-photo">
        <div class="form-container">
            <div th:if="!${contract.isBlockedByAdmin()}">
                <div class="clean-pricing-item">
                    <div class="heading"><h3 class="text-primary" th:text="'Contract No '+${contract.getNumber()}">
                        Contract №</h3>
                        <a class="btn btn-primary " sec:authorize="${hasAuthority('ADMIN')}"
                                  th:href="@{/changenumber/{id} (id=${contract.getId()})}">Change number</a></div>
                    <div class="features"></div>
                    <h4><span class="feature">Tariff:&nbsp;</span><span
                            th:text="${contract.tariff.title}">No</span>
                        <a class="btn btn-primary"th:href="@{/changetariff/{id} (id=${contract.getId()})}">Change tariff</a></h4>
                    <h4><span class="feature">Price (USD per month):&nbsp;</span><span
                            th:text="${contract.getPrice()}">No</span></h4>
                    <h4><span class="feature">Connection cost (USD):&nbsp;</span><span
                            th:text="${contract.getConnectionCost()}">30 Days</span><span
                            class="feature">Supplements:&nbsp;</span>
                        <a class="btn btn-primary " th:href="@{/changesupplements/{id} (id=${contract.getId()})}">Edit supplements</a>
                        <h6 th:each="sup : ${contract.getSupplement()}"><a
                                class="font-monospace text-black-50 feature"
                                th:text="${sup.getTitle()}">Supplements:&nbsp;</a>
                        </h6></h4><button type="submit" class="btn btn-primary d-block" >save changes</button></div>

                </div>

        </div>

        </div>
        <div th:if="${contract.isBlockedByAdmin()}">
            <h3 class="text-primary">Contract was blocked by admin</h3>
            <a class="btn btn-primary d-block" href="/main">main page</a>
        </div>
        </div>
    </section>
    <footer class="footer-basic">
        <div class="social"><a href="http://instagram.com/firstofthekind"><img
                src="assets/img/small-logos/instagram.png" width="40" style="margin: 0px 12px 0px 0px;"
                href="instagram.com/firstofthekind"></a><a href="http://vk.com/firstofthekind"><img
                src="assets/img/small-logos/vk-social-logotype.png" width="40" style="margin: 0px 12px 0px 0px;"
                href="vk.com/firstofthekind" link="vk.com/firstofthekind"></a><a
                href="http://github.com/firstofthekind"><img src="assets/img/small-logos/github.png" width="40"
                                                             style="margin: 0px 12px 0px 0px;"
                                                             href="github.com/firstofthekind"></a></div>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#">Home</a></li>
            <li class="list-inline-item"><a href="#">Services</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">Viacheslav Liashenko © 2021</p></footer>
</main>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="assets/js/vanilla-zoom.js"></script>
<script src="assets/js/theme.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>