<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login Page</title>
</head>

<body>
<div>
    Login page
</div>
<div class="container">
    <form class="login-form" action="main.html">
        <div class="login-wrap">
            <p class="login-img"><i class="icon_lock_alt"></i></p>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_profile"></i></span>
                <input type="text" class="form-control" placeholder="Email" autofocus>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="icon_key_alt"></i></span>
                <input type="password" class="form-control" placeholder="Password">
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>

        </div>
    </form>
    <div>

        You still don't have an account? <a class="already" href="registration.html"> Register here.</a>
    </div>
</div>
</body>
</html>
