<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Javaschool</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/static/css/Footer-Basic.css">
    <link rel="stylesheet" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css}">
    <link rel="stylesheet" href="/static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/static/css/Soft-ui-Navbar.css">
    <link rel="stylesheet" href="/static/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="/static/css/Light-Contact-List.css">
    <link rel="stylesheet" href="/static/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="/static/css/Ludens-Users---4-Edit-Profile.css">
    <link rel="stylesheet" href="/static/css/Manage-Users.css">
</head>

<body>

<div th:replace="/fragments/navbar :: navbar">
</div>
<main class="page landing-page">
    <section class="clean-block clean-hero"
             style="background-image:url(&quot;tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
        <div class="text"><h2>Welcome to the first mobile operator's website!</h2>
            <p>In fact, there is nothing to see here, the work is still in progress :)</p>
            <a class="btn btn-outline-light btn-lg" href="/registration">Try now</a>
        </div>
    </section>
    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading"><h2 class="text-info">Info</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                    mattis vitae leo.</p></div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" src="scenery/image5.jpg"></div>
                <div class="col-md-6"><h3>Lorem impsum dolor sit amet</h3>
                    <div class="getting-started-info"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem
                        ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.</p></div>
                    <button class="btn btn-outline-primary btn-lg" type="button">Join Now</button>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading"><h2 class="text-info">Features</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                    mattis vitae leo.</p></div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-star icon"></i><h4>Bootstrap 4</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                        mattis vitae leo.</p></div>
                <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i><h4>Customizable</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                        mattis vitae leo.</p></div>
                <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i><h4>Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                        mattis vitae leo.</p></div>
                <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i><h4>All Browser Compatibility</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                        mattis vitae leo.</p></div>
            </div>
        </div>
    </section>
    <section class="clean-block slider dark">
        <div class="container">
            <div class="block-heading"><h2 class="text-info">Slider</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                    mattis vitae leo.</p></div>
            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="w-100 d-block" src="scenery/image1.jpg"
                                                           alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="scenery/image4.jpg" alt="Slide Image">
                    </div>
                    <div class="carousel-item"><img class="w-100 d-block" src="scenery/image6.jpg" alt="Slide Image">
                    </div>
                </div>
                <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span
                        class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a
                        class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span
                        class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </section>
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading"><h2 class="text-info">About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in,
                    mattis vitae leo.</p></div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block"
                                                                  src="/static/img/avatars/avatar1.jpg">
                        <div class="card-body info"><h4 class="card-title">John Smith</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i
                                    class="icon-social-instagram"></i></a><a href="#"><i
                                    class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block"
                                                                  src="/static/img/avatars/avatar2.jpg">
                        <div class="card-body info"><h4 class="card-title">Robert Downturn</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i
                                    class="icon-social-instagram"></i></a><a href="#"><i
                                    class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block"
                                                                  src="/static/img/avatars/avatar3.jpg">
                        <div class="card-body info"><h4 class="card-title">Ally Sanders</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i
                                    class="icon-social-instagram"></i></a><a href="#"><i
                                    class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer class="footer-basic">
    <div class="social"><a href="http://instagram.com/firstofthekind"><img src="/static/img/small-logos/instagram.png"
                                                                           width="40" style="margin: 0px 12px 0px 0px;"
                                                                           href="instagram.com/firstofthekind"></a><a
            href="http://vk.com/firstofthekind"><img src="/static/img/small-logos/vk-social-logotype.png" width="40"
                                                     style="margin: 0px 12px 0px 0px;" href="vk.com/firstofthekind"
                                                     link="vk.com/firstofthekind"></a><a
            href="http://github.com/firstofthekind"><img src="/static/img/small-logos/github.png" width="40"
                                                         style="margin: 0px 12px 0px 0px;"
                                                         href="github.com/firstofthekind"></a></div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Viacheslav Liashenko © 2021</p></footer>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js}"></script>
<script src="/static/js/vanilla-zoom.js"></script>
<script src="/static/js/theme.js"></script>
<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>