<!DOCTYPE html>
<html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Javaschool</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/static/css/Footer-Basic.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="/static/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/static/css/Soft-ui-Navbar.css">
    <link rel="stylesheet" href="/static/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="/static/css/Light-Contact-List.css">
    <link rel="stylesheet" href="/static/css/Ludens-Users---3-Profile.css">
    <link rel="stylesheet" href="/static/css/Ludens-Users---4-Edit-Profile.css">
    <link rel="stylesheet" href="/static/css/Manage-Users.css">
</head>

<body>

<div th:replace="/fragments/navbar :: navbar">
</div>
<main class="page landing-page">
    <section class="register-photo">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title text-uppercase mb-0">Manage Tariffs <a
                                    class="btn btn-outline-info" style="border-radius: 30px; float: right" role="button" href="/newtariff">Add new</a></h5>

                        </div>
                        <div class="table-responsive">
                            <table class="table no-wrap user-table mb-0">
                                <thead>
                                <tr>
                                    <th scope="col" class="border-0 text-uppercase font-medium pl-4">ID</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Title</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Connection cost</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Price</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Available Supps</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Deleted</th>
                                    <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="sup : ${tariffs}">
                                    <td class="pl-4" th:text="*{sup.getId()}">1</td>
                                    <td>
                                        <h5 class="font-medium mb-0"
                                            th:text="*{sup.getTitle()}">title</h5>
                                    </td>
                                    <td>
                                        <span class="text-muted" th:text="*{sup.getConnectionCost()}+' '">cost</span><i
                                            class="fa fa-usd"></i><br>
                                    </td>
                                    <td>
                                        <span class="text-muted" th:text="*{sup.getPrice()}+' '">price</span><i
                                            class="fa fa-usd"></i><a>/month</a><br>

                                    </td>
                                    <td>
                                        <details>
                                            <summary><span class="feature">Available supplements:&nbsp;</span>
                                            </summary>
                                       <span class="text-muted" th:each="inc : *{sup.getSupplementDtoSet()}">

                                            <a th:text="*{inc.getTitle()}"></a><br>
                                        </span><br>
                                        </details>
                                    </td>
                                    <td>
                                        <span class="text-muted" th:text="*{sup.isDeleted()}+' '">price</span>

                                    </td>
                                    <td>
                                        <a th:href="@{/edittariffsup/{id} (id=${sup.getId()})}">
                                            <button type="button"
                                                    class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                                    class="fa fa-chain"></i></button>
                                        </a>
                                        <a th:href="@{/edittariff/{id} (id=${sup.getId()})}">
                                            <button type="button"
                                                    class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                                    class="fa fa-edit"></i></button>
                                        </a>
                                        <a th:if="${!sup.isDeleted()}"
                                           th:href="@{/tarifflist/{id}/del (id=${sup.getId()})}">
                                            <button type="button"
                                                    class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                                    class="fa fa-ban"
                                            ></i></button>
                                        </a>
                                        <a th:if="${sup.isDeleted()}"
                                           th:href="@{/tarifflist/{id}/undel (id=${sup.getId()})}">
                                            <button type="button"
                                                    class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i
                                                    class="fa fa-check-circle"
                                            ></i></button>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-container"></div>
    </section>
</main>
<footer class="footer-basic">
    <div class="social"><a href="http://instagram.com/firstofthekind"><img src="/static/img/small-logos/instagram.png"
                                                                           width="40" style="margin: 0px 12px 0px 0px;"
                                                                           href="instagram.com/firstofthekind"></a><a
            href="http://vk.com/firstofthekind"><img src="/static/img/small-logos/vk-social-logotype.png" width="40"
                                                     style="margin: 0px 12px 0px 0px;" href="vk.com/firstofthekind"
                                                     link="vk.com/firstofthekind"></a><a
            href="http://github.com/firstofthekind"><img src="/static/img/small-logos/github.png" width="40"
                                                         style="margin: 0px 12px 0px 0px;"
                                                         href="github.com/firstofthekind"></a></div>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Home</a></li>
        <li class="list-inline-item"><a href="#">Services</a></li>
        <li class="list-inline-item"><a href="#">About</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    </ul>
    <p class="copyright">Viacheslav Liashenko © 2021</p></footer>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="/static/js/vanilla-zoom.js"></script>
<script src="/static/js/theme.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>